[submodule "kaycebasques.net"]
	path = kb
	url = git@github.com:kaycebasques/kaycebasques.net.git
[submodule "technicalwriting.dev"]
	path = tw
	url = git@github.com:kaycebasques/technicalwriting.dev
[submodule "templates"]
	path = templates
	url = git@github.com:kaycebasques/templates.git
